{% extends 'layout.html' %}
{% block content %}
<div class="cont maincont">
    <h1 class="maincont-ttl">SU PEDIDO FUE PAGADO CON EXITO</h1>
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Datos de Pedido</h2>
                    <p>Nro Pedido : {{pedido.nro_pedido}}</p>
                    <p>Fecha : {{pedido.fecha_registro}}</p>
                    <p>Cliente : {{pedido.cliente.usuario.first_name}} {{pedido.cliente.usuario.last_name}}</p>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}