{% extends 'layout.html' %}
{% block content %}
<div class="cont maincont">
    <h1 class="maincont-ttl">CONFIRMACIÓN DE PEDIDO</h1>
    <form action="{% url 'web:registrarpedido' %}" method="post">
        {% csrf_token %}
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Datos del Cliente</h2>
                    <p>
                        <label for="nombre">Nombres</label>
                        {{form.nombre}}
                    </p>
                    <p>
                        <label for="nombre">Apellidos</label>
                        {{form.apellidos}}
                    </p>
                    <p>
                        <label for="nombre">Email</label>
                        {{form.email}}
                    </p>
                </div>
                <div class="auth-col">
                    <h2>Datos de Envio</h2>
                    <p>
                        <label for="nombre">Telefono</label>
                        {{form.telefono}}
                    </p>
                    <p>
                        <label for="nombre">Dirección</label>
                        {{form.direccion}}
                    </p> 
                </div>
            </div>
        </div>
    </article>
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Detalle de Pedido</h2>
                    <div class="woocommerce prod-litems section-list">
                        {% for key,value in request.session.cart.items %}
                        <article class="prod-li sectls">
                            <div class="prod-li-inner">
                                <a href="product.html" class="prod-li-img">
                                    <img src="{{value.imagen}}" alt="">
                                </a>
                                    <div class="prod-li-cont">
                                        <div class="prod-li-ttl-wrap">
                                            <p>
                                                <a href="#">{{value.categoria}}</a>
                                            </p>
                                            <h3><a href="product.html">{{value.nombre}}</a></h3>
                                        </div>
                                        <div class="prod-li-prices">
                                            <div class="prod-li-price-wrap">
                                                <p>Price</p>
                                                <p class="prod-li-price">${{value.precio}}</p>
                                            </div>
                                            <div class="prod-li-qnt-wrap">
                                                <p class="qnt-wrap prod-li-qnt">
                                                    <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                                    <input type="text" value="{{value.cantidad}}">
                                                    <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                                                </p>
                                            </div>
                                            <div class="prod-li-total-wrap">
                                                <p>Total</p>
                                                <p class="prod-li-total">${{value.subtotal}}</p>
                                            </div>
                                            <div class="prod-li-total-wrap">
                                                <p class="prod-li-add">
                                                    <a href="{% url 'web:carritodel' value.producto_id %}" class="button hover-label prod-addbtn"><i class="icon ion-close-round"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="auth-col">
                    <div class="order-total">
                        <p class="cart-totals-ttl">Total</p>
                        <p class="cart-totals-val">${{request.session.total}}</p>
                    </div>
                    <input type="submit" class="checkout-button button" value="CONFIRMAR PEDIDO"/>
                </div>
            </div>
        </div>
    </article>
    </form>
</div>
{% endblock %}