{% macro mostrar_experiencia(experiencia) %} 
<div class="card shadow border-0 rounded-4 mb-5">
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">{{experiencia['periodo']}}</div>
                    <div class="small fw-bolder">{{experiencia['puesto']}}</div>
                    <div class="small text-muted">{{experiencia['empresa']}}</div>
                    <div class="small text-muted">{{experiencia['ubicacion']}}</div>
                </div>
            </div>
            <div class="col-lg-8"><div>{{experiencia['resumen']}}</div></div>
        </div>
    </div>
</div>
{% endmacro %}
{% macro mostrar_estudio(estudio) %}
<div class="card shadow border-0 rounded-4 mb-5">
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <div class="text-secondary fw-bolder mb-2">{{estudio['periodo']}}</div>
                    <div class="mb-2">
                        <div class="small fw-bolder">{{estudio['institucion']}}</div>
                        <div class="small text-muted">{{estudio['ubicacion']}}</div>
                    </div>
                    <div class="fst-italic">
                        <div class="small text-muted">{{estudio['grado']}}</div>
                        <div class="small text-muted">{{estudio['especialidad']}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8"><div>{{estudio['resumen']}}</div></div>
        </div>
    </div>
</div>
{% endmacro %}