{% extends 'layout.html' %}
{% block content %}
<div class="cont maincont">
    <h1 class="maincont-ttl">BIENVENIDO {{user.username}}</h1>
    <h2>{{mensaje}}</h2>
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Datos del Cliente</h2>
                    <form method="post" class="login" action="{% url 'web:clienteupdate' %}">
                        {% csrf_token %}
                        {{form}}
                        <p class ="auth-submit">
                            <input type="submit" value="Actualizar Datos"/>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}