{% extends 'layout.html'%}
{%block content %}
<div class="cont maincont">
    <ul class="b-crumbs">
        <li><a href="index.html">Home</a></li>
        <li><a href="catalog-gallery.html">Catalog</a></li>
        <li>Product</li>
    </ul>
    <article>
        <div class="prod">
            <div class="prod-slider-wrap prod-slider-shown">
                <div class="flexslider prod-slider" id="prod-slider">
                    <ul class="slides">
                        <li>
                            <a data-fancybox-group="prod" class="fancy-img" href="http://placehold.it/810x722">
                                <img src="{{producto.imagen.url}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a data-fancybox-group="prod" class="fancy-img" href="http://placehold.it/800x800">
                                <img src="{{producto.imagen.url}}" alt="">
                            </a>
                        </li>
                    </ul>
                    <div class="prod-slider-count"><p><span class="count-cur">1</span> / <span class="count-all">2</span></p><p class="hover-label prod-slider-zoom"><i class="icon ion-search"></i><span>Zoom In</span></p></div>
                </div>
                <div class="flexslider prod-thumbs" id="prod-thumbs">
                    <ul class="slides">
                        <li>
                            <img src="{{producto.imagen.url}}" alt="">
                        </li>
                        <li>
                            <img src="{{producto.imagen.url}}" alt="">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="prod-cont">
            <form action="{% url 'web:carritoadd' producto.id %}" method="post">
                {% csrf_token %}
                <div class="prod-rating-wrap">
                    <p data-rating="4" class="prod-rating">
                        <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                    </p>
                    <p class="prod-rating-count">7</p>
                </div>
                <p class="prod-categs"><a href="#">{{producto.categoria.nombre}}</a>, <a href="#">{{producto.marca.nombre}}</a></p>
                <h1>{{producto.nombre}}</h1>
                <div class="variations_form cart">
                    <p>
                        {{producto.descripcion}}
                    </p>
                    <div class="prod-add">

                        <button type="submit" class="button">
                            <i class="icon ion-android-cart"></i> Agregar al Carrito
                        </button>
                        <p class="qnt-wrap prod-li-qnt">
                            <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                            <input type="text" name="cantidad" value="1">
                            <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                    </div>
                </div>
            </form>
            </div>
            <p class="prod-badge">
                <span class="badge-1">TOP SELLER</span>
            </p>
        </div>
    </article>
</div>
{% endblock %}